# Build outputs
*.obj
*.o
*.rdi
*.spv

# MSVC / Linker artifacts
*.ilk
*.pdb
*.idb
*.ipch
*.sbr
*.tlh
*.tli

# Intermediate / temp
*.log
*.tmp
*.cache
*.user
*.tlog

# Clang / GCC
*.d
*.out

/Debug
/Release
/vsbuild

*.spv
*.opencode
*.abm
*.bdc
*.basis

Assets/Meshes/Bistro/Bistro.glb